<!DOCTYPE html>
<html>
  <head>
    <title>RocketAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

      <%= yield %>
    <br>


    <div id = 'ajax-flights'></div><br></br>

    <br>
  </body>
</html>
