<!DOCTYPE html>
<html>
  <head>
    <title>RocketAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>
    <br>
    <button id='flights-data'> See All Flights </button>
    <div id = 'ajax-flights'>[flights...]</div>
    <br>
  </body>
</html>
